@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,600;1,600;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  --spacing: 350px;

  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px ;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1,
h2,
h3,
blockquote {
  font-family: "Abril Fatface", cursive;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

header {
  background: var(--dark-bg);
  grid-column: 2 / span 10;
  font-size: 2.5rem;
  padding: 2rem;
  margin-top: 90px;
  margin-bottom: var(--spacing);
  text-align: center;
}

section {
  grid-column: 2 / span 4;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
  margin-left: 0px;
  box-sizing: border-box;
}
.light {
  grid-column: 7 / span 4;
}
blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: black;
  background-color: rgba(248, 248, 248, 0.548);
  font-size: 2rem;
  display: inline;
  line-height: 1.35;
}

.left {
  grid-column: 6 / 12;
}
.right {
  grid-column: 2 / 8;
}
.center {
  grid-column: 4 / 10;
}
@media (max-width: 880px) {
  section,
  p {
    font-size: 14px;
  }
  h1,
  h2,
  h3,
  blockquote p {
    font-size: 24px;
  }
  .left,
  .right,
  .center {
    font-size: 14px;
  }
}

.white {
  background: white;
  color: black;
  grid-column: 1 / span 12;
  font-size: 32px;
  padding: 2rem;
  
}
